body {
    padding: 10px;
    padding-top: 50px;
    background: url('/static/dark-hardback.png')
}

.log {
    margin-right: 20px;
}

.sell {
    margin-right: 10px;
    margin-left: 20px;
}
#nav-search input{
    width: 300px;
}

