body {
    padding: 10px;
    padding-top: 50px;
}

.navbar-btn {
    width: 100px;
    margin-right: 20px;
}
.log {
    margin-right: 10px;
}

.sell {
    margin-right: 10px;
    margin-left: 20px;
}
#nav-search input{
    width: 300px;
}

