body {
    padding: 10px;
    padding-top: 50px;
}

.navbar-btn {
    width: 100px;
    margin-right: 20px;
}

.navbar-brand {
    font: normal normal normal 14px/21.59375px proxima-nova, sans-serif;
    font-size: 18;
}
.log {
    margin-right: 10px;
}

.sell {
    margin-right: 10px;
    margin-left: 20px;
}
#nav-search input{
    width: 300px;
}

