#wrapper {
    padding: 10px;
    padding-top: 20px;
}
h3 {
    margin: 0;
}
#user-info {
    padding: 10px;
}
.panel {
    min-height: 147px;
}
.panel-body {
    padding: 0;
}
#noposts, #nosubs {
    padding-top: 10px;
    text-align: center;
}
.image-td {
    width: 80px;
    height: 100px;
    text-align: center;
}

#noposts {
    text-align: center;
}

#noposts h3{
    margin-top: 20px;
}
#modal-launch:hover {
    cursor: pointer;
}

#subs {
    min-height: 0;
}
.sub-x:hover {
    color: rgb(217, 83, 97);
    cursor: pointer;
}