#wrapper {
    padding: 10px;
}
h3 {
    margin: 0;
}
#user-info {
    padding: 10px;
}
.panel {
    min-height: 147px;
}
#noposts {
    text-align: center;
}
.image-td {
    width: 80px;
    height: 100px;
    text-align: center;
}

#noposts {
    text-align: center;
}

#noposts h3{
    margin-top: 20px;
}
#modal-launch:hover {
    cursor: pointer;
}