span {
    color: red;
    font-weight: normal;
}
h3 {
    margin: 0;
}
.panel {
    margin-top: 10px;
    height: 550px;
}
form .btn-success {
    margin-top: 10px;
}
#imgp {
    margin-top: 100px;
}
#prev-info {
    margin-top: 10px;
}
#prev-img {
    text-align: center;
}
#bookimg-div {
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-top: 50px;
}
#bookimg {
    display: none;
}