#resprev, #resnext:hover {
    cursor: pointer;
}
#results-cont {
    height: 100%;
}

.image-td {
    width: 130px;
    text-align: center;
}
.image-td p{
    margin-top: 30%;
}
.text-td {
    height: 175px;
}

.text-td p{
    margin: 1px;
}

h5 {
    margin-left: 10px;
}

.pagination {
    margin-left: 10px;
    margin-top: 10px;
}
#tips {
    font-size: 20px;
    margin: 20px;
    margin-top: 100px;
}