html{
    background-image: url("http://24.media.tumblr.com/8f213cdd84ea045e2bb00d88437efe14/tumblr_mx7f3dxnyf1rybxnmo1_500.jpg");
}

#sitelogo{
    font-size: 20px;
}

#menu{
    padding-bottom: 5px;
}
#menu ul li a{
    text-align: center;
    font-size: 15px;
}

#searchbar form input{
    width: 100%;
}

#searchbar form button{
    text-align: center;
}

#advancedsearch form fieldset input{
    width: 100%
}

#banner {
    display: none;
}
#home{
    margin: 0px;
}
#login{
    margin: 10px;
    width: 100%;
}
#welcome{
    width: 100%;
    font-size: 20px;
}