html, body{
    text-align: left;
}
#sitelogo{
    font-size: 20px;
}

#menu{
    padding-bottom: 5px;
    width: 100%;
}
#menu ul li a{
    text-align: center;
    font-size: 15px;
}

#searchbar form input{
    width: 100%;
}

#searchbar form button{
    text-align: center;
}

#advancedsearch form fieldset input{
    width: 100%
}

#logged-out{
    margin-top: 10px;
}
#login, #register{
    width: 90%;
}