html{
    background-image: url('wood3.jpg');
}
::-webkit-input-placeholder{
    font-style: italic;
}
:-moz-placeholder{
    font-style: italic;
}
:-ms-input-placeholder{
    font-style: italic;
}

#searchbar{
    display: none;
    background: #383838;
    padding: 10px;
    text-align: left;
}

#searchbar form input{
    width: 30%;
    position: center;
    margin: auto;
}

#searchbar form a{
    color: white;
}

#searchbar form a:hover{
    color: #BBBBBB;
}

#searchbar form button{
    margin-left: 5px;
    margin-right: 20px;
}

#advancedsearch{
    display: none;
    background: #383838;
    margin-top: 10px;
    text-align: center;
}
#advancedsearch form fieldset button{
    margin-right: 0px;
}
#advancedsearch form{
    left: 25%;
}
#advancedsearch form fieldset input{
    width: 25%;
}
#advancedsearch label{
    color: white;
}