html{
    background: #505050;
}
::-webkit-input-placeholder{
    font-style: italic;
}
:-moz-placeholder{
    font-style: italic;
}
:-ms-input-placeholder{
    font-style: italic;
}

#searchbar{
    display: none;
    background: #383838;
    padding: 10px;
    text-align: left;
}

#searchbar form input{
    width: 30%;
    position: center;
    margin: auto;
}

#searchbar form a{
    color: white;
}

#searchbar form a:hover{
    color: #BBBBBB;
}

#searchbar form button{
    margin-left: 5px;
    margin-right: 20px;
    text-align: center;
}

#advancedsearch{
    display: none;
    background: #383838;
    margin-top: 10px;
    text-align: center;
}
#advancedsearch form fieldset button{
    margin-right: 0px;
    margin-top: 10px;
}
#advancedsearch form{
    left: 25%;
}
#advancedsearch form fieldset input{
    width: 25%;
}
#advancedsearch label{
    color: white;
}

.banner{
    background: transparent url('http://24.media.tumblr.com/8f213cdd84ea045e2bb00d88437efe14/tumblr_mx7f3dxnyf1rybxnmo1_500.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    display: table;
}

#home{
    margin: 40px;
    text-align: center;
}

#login, #welcome{
    background: white;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}

#login {
    width: 20%;
    margin-right: 2.5%;
}
#welcome {
    width: 70%;
    text-align: center;
    font-size: 35px;
}