html{
    background: transparent url('http://24.media.tumblr.com/8f213cdd84ea045e2bb00d88437efe14/tumblr_mx7f3dxnyf1rybxnmo1_500.jpg') center center fixed no-repeat;
    background-size: cover;
}
::-webkit-input-placeholder{
    font-style: italic;
}
:-moz-placeholder{
    font-style: italic;
}
:-ms-input-placeholder{
    font-style: italic;
}
#top-page{
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
}

#searchbar{
    display: none;
    background: #383838;
    padding: 10px;
}

#searchbar form input{
    width: 30%;
    position: center;
    margin: auto;
}

#searchbar form a{
    color: white;
}

#searchbar form a:hover{
    color: #BBBBBB;
}

#searchbar form button{
    margin-left: 5px;
    margin-right: 20px;
    text-align: center;
}

#advancedsearch{
    display: none;
    background: #383838;
    margin-top: 10px;
    text-align: center;
}
#advancedsearch form fieldset button{
    margin-right: 0px;
    margin-top: 10px;
}
#advancedsearch form{
    left: 25%;
}
#advancedsearch form fieldset input{
    width: 25%;
}
#advancedsearch label{
    color: white;
}

#logged-out{
    text-align: center;
    margin-top: 125px;
}

#login, #register{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
}
#login button{
    margin-top: 10px;
    margin-bottom: -10px;
    width: 50%;
}

#register button{
    margin-top: 10px;
    margin-bottom: -10px;
    width: 100%;
}
#login-email, #login-password, #register-displayname, #register-email, #register-password, #register-reenter{
    width: 100%;
    height: 40px;
}
#login-submit{
    margin-right: 10px;
}