<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.5, minimum-scale=1.5">
    <meta name="description" content="The Book Exchange connects students looking to buy and sell used books. No middle man, no bookstore, just student to student">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/scripts.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/small.css" type="text/css" media="only screen and (max-device-width: 768px)"/>
    {%- block sheets -%}{%- endblock -%}
    {%- if title -%}
    <title>{{ title }}</title>
    {%- else -%}
    <title>The Book Exchange</title>
    {%- endif -%}
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">The Book Exchange</a>
      </div>
      
      <div class="collapse navbar-collapse" id="nav-collapse">
	<a id="about-launch" class="navbar-left" data-toggle="modal" data-target="#aboutModal">
	   About
	</a>
	<form id="nav-search" class="navbar-form navbar-left" action="/search" role="search">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Search" name="q">
	  </div>
	</form>
	{%- if not current_user.is_authenticated() -%}
	<a href="/register">
	  <button type="submit" class="btn btn-default navbar-btn navbar-right">Register</button>
	</a>
	<a href="/login">
	  <button type="button" class="btn btn-info navbar-btn navbar-right login">Log in</button>
	</a>
	{%- else -%}
	<a href="/logout">
	  <button type="button" class="btn btn-info navbar-btn navbar-right logout">Log out</button>
	</a>
	<a href="/post">
	  <button type="button" class="btn btn-success navbar-btn navbar-right sell">Sell Books</button>
	</a>
	<p class=" navbar-text navbar-right"> {{ current_user.email }}</p>
	 {%- endif -%}
      </div>
    </nav>
    
    {%- with messages = get_flashed_messages() -%}
    {%- if messages -%}
    {%- for message in messages -%}
    <div class="alert alert-warning">
      {{ message }}
    </div>
    {%- endfor -%}
    {%- endif -%}
    {%- endwith -%}
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-body">
	    <div id="about">
	      <h2>About</h2>
	      
	      <p>The Book Exchange connects students looking to buy and sell used books. No middle man, no bookstore, just student to student.</p>
	      
	      <p>Buyers: search by ISBN-13, title, author or course number to find the books you need, and see who’s offering to sell them. Then, connect with that person to meet up and exchange the book. And if you don’t see an offer you like, subscribe to that book, and receive an email when new offers are posted.</p>
	      
	      <p>Sellers: simply list your books, name your price, describe the condition, and add any comments. Then, wait for the offers to come rolling in.</p>
	      
	      <p>Questions? Bugs? Feedback? Good jokes you want to pass on? Contact: <a href="mailto:bookexchangekeeper@gmail.com">bookexchangekeeper@gmail.com</a></p>
	      
	      <h2>What We Don’t Do</h2>
	      
	      <ul>
		<li>We do not facilitate the transfer of currency, goods, or services. It’s up to buyers to contact sellers and arrange sales.</li>
		
		<li>We do not guarantee the quality of the books. It’s up to you to check the books out before buying them. Any disagreements should be worked out between buyer and seller.</li>

	      </ul>
	      <p>Help spread the word! The more people that sell, the more there is to buy!</p>
	      <h2><div class="fb-share-button" data-href="http://thebookexchange.herokuapp.com" data-type="icon_link"></div></h2>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {%- block content -%}{%- endblock -%}
    
  </body>
</html>
