{% extends 'base.html' %}

{% block sheets %}
<link href="/static/book.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="book-info" class="container">
  <div id="info-table" class="row">
    <div id="image" class="col-md-2">
      {% if book['image'] is not none %}
      <image src={{ book['image'] }} alt="No Image" class="image-thumbnail img-responsive"></image>
      
      {% else %}
      <p> No Image Available </p>
      {% endif %}
    </div>
    <div class="col-md-8">	
      <h4>{{ book['title'] }}</h4>
      <p> by 
	{{ book['author'][0] }}
	{% for author in book['author'][1:] %}
	| {{ author }}
	{% endfor %}
      </p>
      <p>ISBN-13: {{ book['isbn'] }}</p>
      <p>
	Courses:
	{{ book['courses'][0] }}
	{% for course in book['courses'][1:] %}
	| {{ course }}
	{% endfor %}
      </p>
      {% if book['amazon_url'] %}
      <a href={{ book['amazon_url'] }} target="_blank">Click here to view on Amazon</a>
      {% endif %}
    </div>
    <div class="col-md-2">
      {% if current_user.is_authenticated() %}
      <div id="options">
	<form id="sell" action="/post" method="GET">
	  <input type="hidden" name="isbn" value={{ book['isbn'] }}>
	  <input type="submit" class="btn btn-success opt" value="Sell This Book">
	</form>
	{% if subbed %}
	<form id="unsubscribe" action="/unsubscribe" method="POST">
	  <input type="hidden" name="isbn" value={{ book['isbn'] }}>
	  <button type="submit" class="btn btn-danger opt"><span class="glyphicon glyphicon-envelope"></span> Unsubscribe</button>
	</form>
	{% else %}
	<form id="subscribe" action="/subscribe" method="POST">
	  <input type="hidden" name="isbn" value={{ book['isbn'] }}>
	  <button type="submit" class="btn btn-default opt" value="Subscribe"><span class="glyphicon glyphicon-envelope"></span> Subscribe</button>
	  <span class="help-block">Get an email when someone posts a new offer for this book</span>
	</form>
	{% endif %}
      </div>
      {% else %}
      <form action="/login" method="GET">
	<input type="hidden" name="isbn" value={{ book['isbn'] }}>
	<input type="hidden" name="next" value="/book/{{ book['isbn'] }}">
	<input type="submit" class="btn btn-primary pull-right login-btn" value="Log in to Sell or Subscribe">     
      </form>
      {% endif %}
    </div>
  </div>
</div>
<div class="row"
<div id="posts" class="col-md-12">
  {% if posts.count() != 0 %}
  <div id="offers">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Date</th>
	  <th>Price</th>
	  <th>Condition</th>
	  <th>Comments</th>
	  <th>Contact Seller</th>
	</tr>
      </thead>
      <tbody>
	{% for post in posts %}
	<tr>
	  <td class="date">{{ post.timestamp }}</td>
	  {% if not post.price %}
	  <td> Contact Seller </td>
	  {% else %}
	  <td>${{ post.price }}</td>
	  {% endif %}
	  <td>{{ post.condition }}</td>
	  {% if not post.comments %}
	  <td></td>
	  {% else %}
	  <td>{{ post.comments }}</td>
	  {% endif %}
	  {% if post.seller.pref == 'e' %}
	  <td><a href="mailto:{{ post.seller.email }}">Email</a></td>
	  {% else %}
	  <td><a class="fblink" href="http://www.facebook.com/{{ post.seller.fb_url }}" target="_blank">Facebook</a></td>
	  {% endif %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div>
    <h3 class="lead">Currently No Offers</h3>
  </div>
  {% endif %}
</div>
</div>
{% endblock %}

