<p>A new offer has been posted for <a href="thebookexchange.herokuapp.com/book/{{ post.book.isbn }}">{{ post.book.title }}</a>!</p>

<p><label>Price:</label> 
  {% if post.price %}
  {{ post.price }}
  {% else %}
  Contact Seller
  {% endif %}</p>
<p><label>Condition:</label> {{ post.condition }}</p>
<p><label>Seller Comments:</label> {{ post.comments }}</p>
<br>
<p>-- The Book Exchange</p>
<p>To unsubscribe from offers for this book, <a href="thebookexchange.herokuapp.com">login and manage your subscriptions.</a></p>
