<!DOCTYPE html>
<html>
  <head>
    <title>The Book Exchange</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <link rel="stylesheet" href="/static/small.css" type="text/css" media="only screen and (max-device-width: 768px)"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/scripts.js"></script>
  </head>
  <body>
    <div id="top-page">
      <div class="pure-menu pure-menu-open pure-menu-horizontal" id="menu">
	<a href="/" class="pure-menu-heading" id="sitelogo">The Book Exchange</a>
	<ul>
          <li class="pure-menu-selected"><a href="/">Home</a></li>
          <li><a href="#">Sell Books</a></li>
	  <li><form class="pure-form"><input id="searchbar" type="text" placeholder="Search for a book"></form></li>
	  <li><a id="as-button">Advanced Search</a></li>
	</ul>
      </div>
      
      <div id="advancedsearch">
	<form class="pure-form pure-form-aligned">
	  <fieldset>
            <div class="pure-control-group">
	      <label for="as-ISBN">ISBN</label>
	      <input id="as-ISBN" type="text" placeholder="978-0691153100">
            </div>
	    
            <div class="pure-control-group">
	      <label for="as-title">Title</label>
	      <input id="as-title" type="text" placeholder="All Things Considered">
            </div>
	    
            <div class="pure-control-group">
	      <label for="as-author">Author</label>
	      <input id="as-author" type="text" placeholder="Chih-p'ing Chou">
            </div>
	    
	    <div class="pure-control-group">
	      <label for="as-class">Class Code</label>
	      <input id="as-class" type="text" placeholder="CHIN500">
            </div>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
	    <button class="pure-button" id="as-cancel">Cancel</button>
	  </fieldset>
	</form>
      </div>
    </div>

    <div id="logged-out">
      <div id="login">
	<form class="pure-form pure-form-stacked">
	  <fieldset>
            <input id="login-email" type="email" placeholder="Email">
            <input id="login-password" type="password" placeholder="Password">
	    
            <button id="login-submit" type="submit" class="pure-button pure-button-primary">Sign in</button> 
	    
	    <a href="#">Forgot Password?</a>
	  </fieldset>
	</form>
      </div>
      
      <div id="register">
	<form class="pure-form pure-form-stacked" method="post" action="/register">
	  <fieldset>
	    <legend><b>No Account?</b> Sign Up</legend>
	    <input id="register-email" type="email" placeholder="Email">
	    <input id="register-password" type="password" placeholder="Password">
	    <input id="register-reenter" type="password" placeholder="Re-enter Password">
	    <button id="register-submit" type="submit" class="pure-button pure-button-secondary">Register</button>
	  </fieldset>
	</form>
      </div>
    </div>

  </body>
</html>
