<!DOCTYPE html>
<html>
  <head>
    <title>The Book Exchange</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="/static/small.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="pure-menu pure-menu-open pure-menu-horizontal" id="menu">
      <a href="#" class="pure-menu-heading" id="sitelogo">The Book Exchange</a>
      <ul class="pure-hidden-phone">
        <li class="pure-menu-selected"><a href="#">Home</a></li>
        <li><a href="#">Search Books</a></li>
        <li><a href="#">Sell</a></li>
      </ul>
    </div>
  </body>
</html>
